.container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  padding: 10px;
}

.active {
  font-weight: bold;
  background-color: rgba(
    231,
    230,
    230,
    0.75
  );
}

.selectedText {
  color: rgb(190, 184, 184);
}

.hoverNotSelected {
  background-color: var(
    --secondary-color
  );
}

.hoverSelected {
  background-color: rgb(245, 73, 73);
}

.hoverSelectedText {
  font-size: 10px;
  font-weight: bold;
  opacity: 0.8;
}
