.runButtons {
  display: flex;
  justify-content: flex-end;
}

.recipeFormHeading {
  text-align: left;
  margin-bottom: -35px;
}

.runButton {
  margin-left: 20px;
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: var(
    --fade-text-color
  );
}

.delete {
  background-color: transparent;
  margin-right: 20px;
  outline: 1.3px solid var(--danger);
  color: var(--danger);
  transition: background-color 250ms
    ease;
}

.delete:hover {
  background-color: var(--danger);
  color: #fff;
}
